
name: "CI (Integração Continua): Main Worflow"

on:
  # Ativa esse fluxo de trabalho para cada push ou pull que acontecer para a branch main
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ opened, synchronize ]

# Definindo onde será execitado
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Next Install
        run: npm install next --save
      - name: Run Linter
        run: npm run lint
