
name: "CI (Integração Continua): Main Worflow"

env:
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ opened, synchronize ]

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Next Install
        run: npm install next --save
      - name: Run Linter
        run: npm run lint

  preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Next Install
        run: npm install next --save
      - name: Run Deploy Preview
        run: npm run deploy:preview
